@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4"> FAST Equipment Tool </h1>
    <br>
   <p> Ready! Set! Borrow &#128512; : IT Equipment for Every Need!!!  </p>
   <br> <br>
<img src="https://neo-cdn.stretchinternet.com/XCcovb/header/d98a534f-98f7-453a-b3eb-9db81022003a.png" style="width: 200px; height: auto;">
<br>
<br>
<br>
<p> This is our home page! Please go to the Equipment Request Form to request your choice of <strong>IT Equipment </strong>&#x1F4BB;. </p>
    
  <p> Not Sure? &#x1F615; Click on the <b> All Equipment 
    Listing page</b> to explore your options. This page shows a table of all the equipment the IT department offers to users. </p>
    
   <p> <b>Available Equipment Listing Page </b> will show the availiable equipments!!! </p>
</div>
